/* Qtech v1.0 by Codefest */
/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Header Section
4. Header Footer Blocks
5. About Section
6. What We Do Section
7. Security Section
8. Features Section
9. Clients Section
10. Testimonials Section
11. Blog Section
12. Contact Section
13. Subscribe Section
14. Footer Section
15. Copyright Section
-------------------- */

/* 1. GENERAL */
    * {
        -webkit-font-smoothing: antialiased;
        -moz-os-font-smoothing: grayscale;
        box-sizing: border-box;
    }
    html {
        font-family: sans-serif;
        padding: 0;
        margin: 0;
    }
    body {
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        margin: 0;
        background-color: #fff;
        overflow-x: hidden;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        font-size: 1em;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }
    .padding-0{
        padding: 0 !important;
    }
    .wrapper{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
	#top,
	#aboutSection,
	#securitySection,
	#featuresSection,
	#clientsSection,
	#testimonialsSection,
	#blogSection,
	#contactSection{
		display: block;
		position: relative;
		top: -70px!important;
		visibility: hidden;	
	}
    a, button:focus{
        outline: none !important;
    }
    a:hover{
        text-decoration: none;
    }
    .btn-section{
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .theme-btn{
        border: 3px solid #206eea;
        padding: 8px 25px;
        font-size: 16px;
        color: #fff;
        line-height: 1;
        font-weight: 700;
        text-decoration: none;
        background-color: #206eea;
        border-radius: 7px;
    }
    .theme-btn:hover{
        background-color: #206eea;
        color: #fff;
        text-decoration: none;
        border-color: #206eea; 
    }
    .secondary-btn{
        border: 3px solid #206eea;
        color: #206eea;
        background-color: transparent;
    }
    .secondary-btn:hover{
        background-color: #206eea;
        color: #fff;
        text-decoration: none;
    }
    .readmore-btn{
        padding: 10px 20px;
        font-size: 18px;
    }	
	.header-btn{
		background-color: #e8524c!important;
		border-color: #e8524c!important;
	}	
	.header-btn:hover{
		background-color: #FF7E79!important;
		border-color: #FF7E79!important;
	}
    .section-title-block{
        text-align: left;
        padding: 0;
    }   
    .section-subtitle{
        font-size: 24px;
        color: #FF7E79;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .section-title{
        font-size: 34px;
        color: #206eea;
        margin-bottom: 20px;
        line-height: 1.25;
        font-weight: 700;
    }
    .section-details{
        font-size: 17px;
        color: #5B5B5B;
        margin-bottom: 10px;
        line-height: 1.5;
        font-weight: 500;
    }
/* 2. NAVBAR */ 
    .header-scrolled{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff !important;
        -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
        box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .navbar{
        background-color: transparent;
        padding-top: 30px;
        padding-bottom: 30px;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    .navbar-nav{
        align-items: center;
    }   
    .navbar-brand{
        display: flex;
        align-items: center;
    }
    .navbar-brand-menu{
        margin-right: 40px;
    }
    .menu-navbar-nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .nav-item{
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-item .nav-link{
        text-align: center;
    }
    .nav-item:hover .nav-link-menu{
        color: #206eea;
    }
    .nav-link-menu{
        font-size: 18px;
        color: #206eea;
        line-height: 1;
        font-weight: 700;
    }
    .navbar-toggler-icon{
        background-image: url("../images/menu.png");
    }
    @media screen and (max-width: 1199.98px){
        .navbar-collapse{
            background-color: #FCFEFE;
            color: #206eea;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .header-scrolled .navbar-collapse{  
            background-color: transparent;
        }
        .navbar{
            padding: 20px 0;
        }
        .navbar-container{
            max-width: 100%;
        }
        .navbar-brand{
            padding-left: 20px;
        }
        .navbar-toggler{
            padding-right: 20px;
        }
        .nav-link-menu{
            color: #206eea;
        }
        .nav-item-btn{
            margin-top: 25px;
            margin-bottom: 10px;
        }
    }
/* 3. HEADER SECTION */
    .header-section{
        padding: 160px 0 160px;
        background-color: #FCFEFE;
        background: linear-gradient(#FCFEFE, #FFFFFF);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: -60px;
    }
    .header-section-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .header-section-content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .header-section-content-container{
        width: 100%;
    }
    .header-title-section{
        padding: 0;
    }
    .header-title-section h1{
        font-size: 59px;        
        font-weight: 800;
        line-height: 1.1;
        color: #206eea;
        margin-bottom: 0;
    }
    .header-title-section h1 span{
        color: #9090ef;
    }
    .header-title-section p{
        font-size: 20px;
        color: #5B5B5B;
        max-width: 500px;
        font-weight: 600;
    }   
    .header-title-all-btn-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .header-title-btn-section{
        margin-right: 30px;
    }
    .header-title-video-btn-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .header-title-footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        font-size: 18px;
        color: #616161;
        line-height: 1.5;
		max-width: 500px;
    }
    .header-title-footer a{
        color: #206eea;
        font-weight: 700;
		margin-right: 10px;
    }
    .header-title-footer p{
		display: block;
		font-size: 17px;
		font-weight: 400;
    }
    .header-title-video-btn-section img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }   
    .header-title-video-btn-content-section{

    }
    .video-btn-title{
        font-size: 24px;
        color: #206eea;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 1;
    }
    .video-btn-subtitle{
        color: #206eea;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
    }
    .header-img-section{
        position: relative;
        padding: 0;
    }
    .header-img-card{

    }
    .header-img-card img{
        width: 100%;
    }
    @media screen and (max-width: 991.98px){
        .header-section{
            padding: 100px 0;
            flex-direction: column-reverse;
        }
        .header-section-container{
            flex-direction: column-reverse;
        }
        .header-section-content{
            position: relative;
        }
        .header-title-section h1{
            text-align: center;
        }
        .header-title-section p{
            max-width: 100%;
            text-align: center;
        }
        .header-title-all-btn-section{
            justify-content: center;
        }
        .header-title-video-btn-content-section{
            text-align: left;
        }
        .header-title-video-btn-section{
            justify-content: center;
        }
        .header-title-video-btn-content-section p{
            text-align: left;
        }
        .header-title-footer{
            justify-content: center;
			max-width: 100%;
			padding: 0 10px;
        }
    }
    @media screen and (max-width: 767.98px){		
        .header-title-footer a{
            margin-right: 0;
        }
    }
/* 4. HEADER FOOTER BLOCKS SECTION */
    .header-footer-blocks-section{
        background-color: #fff; 
        padding: 0 0 20px 0;
    }  
    .header-footer-blocks-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .header-footer-card-block{
        padding: 0 10px;
    }
    .header-footer-card{
        background-color: #fff;
        border-radius: 11px;
        box-shadow: 0 0 54px rgba(0,0,0,0.05);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 10px;
        margin-bottom: 40px;
    }
    .header-footer-card::after{
        height: 5px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 15%;
        border-radius: 11px;
        width: 70%;
        background: #FCCF64;
        content: '';
    }
    .second-footer-card::after{
        background: #00A76A;
    }
    .third-footer-card::after{
        background: #FF7E79;
    }
    .header-footer-card-img-section{
        padding: 15px 20px;
    }
    .header-footer-card-img-section img{
        width: 100%;
    }
    .header-footer-card-detail-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px 0 0;
    }
    .header-footer-card-detail-section h2{
        font-size: 20px;
        color: #206eea;
        font-weight: 700;
        margin-bottom: 10px
    }
    .header-footer-card-detail-section p{
        font-size: 15px;
        color: #5B5B5B;
        font-weight: 400;
        line-height: 1.4;
    }
/* 5. ABOUT SECTION */  
    .about-section{
        padding: 40px 0 20px 0;
        position: relative;
    }
    .about-section-bg{
        position: absolute;
        width: 200px;
        padding-bottom: 450px;
        top: 0;
        left: -125px;
    }
    .about-section-bg::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url(../images/about-section/section-bg.svg);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .about-section-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }   
    .about-section-header-img-section img{
        width: 100%;
    }
    .about-section-content-section{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;   
    }
    .about-section-content-details{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
    }
    .about-section-content-details-ul{
        list-style: none;
        padding-left: 0;
        padding-right: 20px;
        margin-bottom: 0;
    }
    .about-section-content-details-li{
        font-size: 15px;
        color: #5B5B5B;
        margin-bottom: 10px;
        line-height: 1.5;
        font-weight: 400;
        background: url(../images/ul-tick.svg) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: 16px;
        background-position: 0 4px;
        padding-left: 28px;
        text-align: left;
    }
    @media screen and (max-width: 1250.98px){
        .about-section-bg{
            left: -150px;
        }
    }
/* 6. WHAT WE DO SECTION */
    .what-we-do-section{
        padding: 20px 0 40px 0;
    }
    .what-we-do-section-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .what-we-do-section-details-secction{

    }
    .what-we-do-services-section{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
    }
    .services-card-section{
        margin-bottom: 40px; 
    }
    .services-card{
        background-color: #fff;
        border-radius: 22px;
        box-shadow: 0 0 13px rgba(0,0,0,0.1);
        padding: 25px 29px;
    }
    .services-card-img-section{
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }
    .services-card-img-section img{
        width: 100%;
    }
    .services-card-details-section{
        text-align: left;
    }
    .services-card-details-section h3{
        font-size: 20px;
        font-weight: 700;
        color: #206eea;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .services-card-details-section p{
        font-size: 14px;
        font-weight: 500;
        color: #5B5B5B;
        line-height: 1.5;
    }
    .what-we-do-services-second-section{
        padding-top: 80px; 
    }
    @media screen and (max-width: 575.98px){
        .what-we-do-services-second-section{
            padding-top: 0;
        }
        .what-we-do-section-details-secction{
            margin-bottom: 40px;
        }
    }
/* 7. SECURITY SECTION */
    .security-section{
        padding: 40px 0;
        position: relative;
    }
    .security-section-bg{
        position: absolute;
        width: 200px;
        padding-bottom: 450px;
        bottom: -50px;
        left: -125px;
    }
    .security-section-bg::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url(../images/security-section/section-bg-left.svg);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .security-section-bg-two{
        position: absolute;
        width: 200px;
        padding-bottom: 450px;
        top: 7px;
        right: -145px;
    }
    .security-section-bg-two::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url(../images/security-section/section-bg-right.svg);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .security-section-container{

    }
    .security-section-container .section-title-block{
        text-align: center;
    }
    .security-details-container{
        padding: 0;
    }
    .security-details-section{

    }
    .security-details-img-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }   
    .security-details-img-section img{
        width: 100%;
        max-width: 300px;
    }
    .security-details-content-section{
        text-align: center;
    }
    .security-details-content-section p{
        font-size: 17px;
        font-weight: 500;
        color: #5B5B5B;
        line-height: 1.5;
    }
    .security-details-content-section .btn-section{
        justify-content: center;    
    }
    @media screen and (max-width: 767.98px){		
        .security-details-content-section p{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
/* 8. FEATURES SECTION */
    .features-section{
        padding: 40px 0;
        position: relative;
    }
    .features-section-bg{
        position: absolute;
        width: 400px;
        padding-bottom: 450px;
        bottom: -140px;
        left: -240px;
    }
    .features-section-bg::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url(../images/features-section/section-bg.svg);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .features-section-container{
        justify-content: center;
    }
    .features-details-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .features-details-card-section{
        margin: 17px 0;
    }
    .features-details-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 13px rgba(0,0,0,0.1);
        padding: 29px;
        border-radius: 22px;
    }
    .features-details-card-img-section{
        height: 100px;
        width: auto;
        margin-bottom: 10px;
    }
    .features-details-card-img-section img{
        height: 100%;
        width: auto;
    }
    .features-details-card-details-section{
        text-align: center;
    }
    .features-details-card-details-section h3{
        font-size: 20px;
        color: #206eea;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .features-details-card-details-section p{
        font-size: 14px;
        color: #5B5B5B;
        line-height: 1.5;
        font-weight: 500;
    }
    .features-title-block{
        text-align: center;
        justify-content: center;
    }
/* 9. CLIENTS SECTION */
    .clients-section{
        padding: 80px 0;
        position: relative;
    }
    .clients-section-bg{
        position: absolute;
        width: 300px;
        padding-bottom: 450px;
        bottom: 0px;
        right: -180px;
    }
    .clients-section-bg::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url(../images/clients-section/section-bg.svg);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .clients-title-block{
        text-align: center;
    }
    .clients-list-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 40px;
    }
    .clients-list{

    }
    .clients-list img{
        width: 100%;
    }
    .clients-btn-section{
        justify-content: center;
        margin-top: 40px;
    }
    @media screen and (max-width: 767.98px){		
        .clients-list img{
            padding: 0 25% 10px 25%;
        }
    }
/* 10. TESTIMONIAL SECTION */
    .testimonial-section{
        padding: 40px 0;
    }
    .testimonial-section-container{

    }
    .testimonial-title-block{
        text-align: center;
    }
    .testimonial-card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .testimonial-card{
        background-color: #FF7E79;
        padding: 40px 20px;        
        border-radius: 17px;
    }
    .testimonial-card-content{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .testimonial-card-content li{
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        background: url(../images/quote.svg) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: 60px;
        background-position: 10px 5px;
        padding: 0 15px 0 95px;
        text-align: left;
    }
    .testimonial-card-icon{
        height: 40px;
        width: auto;
        margin-top: 20px;
    }
    .testimonial-card-icon img{
        height: 100%;
        width: auto;
    }
    .testimonial-card-author{
        width: 60px;
        border-radius: 100px;
        border: 2px solid #FF7E79;
        margin-top: 10px;
    }
    .testimonial-card-author img{
        width: 100%;
    }
/* 11. BLOG SECTION */
    .blog-section{
        padding: 40px 0;
    }
    .blog-title-block{
        text-align: center;
    }
    .blog-card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .blog-card-section{
        margin-top: 40px;
    }
    .blog-card{
        background-color: #fff;
        border-radius: 22px;
        box-shadow: 0 0 13px rgba(0,0,0,0.1);
    }
    .blog-card-img-section img{
        width: 100%;
		padding: 0 29px;
    }
    .blog-card-content-section{
        text-align: left;
        padding: 40px;
        padding-top: 0;
    }
    .blog-card-cat-btn-section{
        margin: -20px 0 20px 0;;
        display: flex;
        justify-content: flex-end;
    }   
    .blog-card-cat-btn{
        font-size: 14px;
        font-weight: 700;
        padding: 5px 15px;
    }
    .blog-card-timestamp{
        font-size: 12px;
        color: #5B5B5B;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 5px;
    }
    .blog-card-title{
        font-size: 20px;
        color: #206eea;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .blog-card-details{
        font-size: 16px;
        color: #5B5B5B;
        font-weight: 500;
        line-height: 1.5;
    }   
    .blog-btn-section{
        justify-content: flex-start;
        margin-top: 0;margin-top: 20px;
    }
/* 12. CONTACT SECTION */    
    .contact-section{
        padding: 80px 0;
    }
    .contact-section-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }   
    .contact-section-details-secction{

    }
    .contact-details-section{
        margin-top: 20px
    }
    .contact-details-section h3{
		margin: 25px 0 5px 0;
        font-size: 24px;
        font-weight: 700;
        color: #206eea;
    }
    .contact-details-section p{
        font-size: 16px;
        font-weight: 500;
        color: #5B5B5B;
    }
    .contact-us-form-group{
        padding: 0;
    }
    .contact-us-form-group input{
        border: 2px solid #206eea;
        border-radius: 10px;
        margin-top: 10px;
        background: #fff;
        margin-bottom: 10px;
        width: 100%;
        height: 50px;
        padding: 10px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: #5B5B5B;
    }
    .contact-us-form-group textarea{
        border: 2px dashed #206eea;
        border-radius: 10px;
        margin-top: 10px;
        background: #fff;
        margin-bottom: 10px;
        width: 100%;
        height: 150px;
        padding: 10px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: #5B5B5B;
    }
    .contact-us-form-group input:focus,
    .contact-us-form-group textarea:focus{
        border: 2px solid #2367ce;
        background:#fefff2;
    }
    .contact-us-form-btn{
        width: 100%;
        background: linear-gradient(60deg, #EC41FF, #0984E3);
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-weight: 400;
    }
    .contact-us-form-btn:hover{
        box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
    }
	.contact-us-form-group #website{
		display: none;
	}
    @media screen and (max-width: 991.98px){
        .form-section{
            margin-top: 40px;
        }
    }
/* 13. SUBSCRIBE FORM SECTION */
    .sub-form-section{
        padding: 50px 0;
		background-color: #F8F8F8;
    }
    .sub-form-section-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .sub-form-section-details{
        font-size: 14px;
		margin-top: -15px;
    }
    .sub-form-card-section{

    }
    .sub-form{
        position: relative;
    }
    .sub-form-input{
        position: relative;
        width: 100%;
        border: 2px dashed #206eea;
        background-color: #fff;
        color: #5B5B5B;
        font-size: 18px;
        font-weight: 700;
        height: 50px;
        padding-left: 20px;
        border-radius: 10px;
    }
    .sub-form-btn{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        height: 50px;
		border-top-left-radius: 0!important;
		border-bottom-left-radius: 0!important;
        border-radius: 10px;
    }
/* 14. FOOTER SECTION */    
    .footer-section{
        padding: 40px 0 80px 0;
        background-color: #206eea;
    }
    .footer-section-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-section-div{
        margin-top: 40px;
    }
    .footer-logo{
        width: 200px;
        margin-bottom: 24px;
    }
    .footer-section-div p{
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }
    .footer-section-div h3{
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .footer-section-ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .footer-section-ul li a{
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }
    .footer-section-ul li a:hover{
        color: #e1e1fb;
    }
/* 15. COPYRIGHT SECTION */
    .copyright-section{
        padding: 25px 0;
        background-color: #206eea;
        border-top: 1px solid #fff;
    }
    .copyright-section-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .copyright-section-container img{
        width: 30px;
        height: auto;
        margin-right: 10px;
    }
    .copyright-section-container p{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
    .copyright-section-container a{
        color: #fff;
		font-weight: 700;
    }
    .copyright-section-container a:hover{
        color: #e1e1fb;
    }