RewriteRule ^s([0-9]+)_(.*)$ products.php?subcategory=$1
RewriteRule ^c(.*)_(.*)$ products.php?category=$1&text=$2    [QSA,L]
#RewriteRule ^(.*)_p(.*)$ viewproduct.php?productid=$2&text=$1    [QSA,L]
RewriteRule ^p([0-9]+)_(.*)$ viewproduct.php?productid=$1&text=$2    [QSA,L]

<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>

 