
.bravowp-woo-floatingcart-ajaxloader{
        background-color: #fff;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.7;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1000;
}

.bravowp-woo-floatingcart-ajaxloader img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto; /* presto! */
        z-index: 1000;
        width:64px !important;
        height: 64px !important;
}


#bravowp-woo-floatingcart .wp-post-image
{
        height:32px !important;
        width:32px !important;
}
